/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2021, 8:22:53 PM
    Author     : anurd
*/


#base{
    text-align: center;
    padding: 250px;
    background: linear-gradient(90deg, rgba(97, 92, 92, 0.8), rgba(97, 92, 92, 0.8)), url("../resources/img/chem.jpg") center top no-repeat;
}

.sekme{
    font-size: 30px;
}

.sekme2{
    font-size: 30px;
    color: #000;
}

#container{
    width: 1000px;
    border: 2px solid black;
    margin: 10px auto;
    padding: 10px;
}

#upContainer{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/1-ust.png);
    margin-left: 532px;

}

#downContainer{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/1-alt.png);
    margin-left: 3px;
}

#upContainer2{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/2-ust.png);
    margin-left: 532px;

}

#downContainer2{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/2-alt.png);
    margin-left: 3px;
}
#upContainer3{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/3-ust.png);
    margin-left: 532px;

}

#downContainer3{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/3-alt.png);
    margin-left: 3px;
}
#upContainer4{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/4-ust.png);
    margin-left: 532px;

}

#downContainer4{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/4-alt.png);
    margin-left: 3px;
}

#upContainer5{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/5-ust.png);
    margin-left: 532px;

}

#downContainer5{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/5-alt.png);
    margin-left: 3px;
}

#upContainer6{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/6-ust.png);
    margin-left: 532px;

}

#downContainer6{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/6-alt.png);
    margin-left: 3px;
}

#upContainer7{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/7-ust.png);
    margin-left: 532px;

}

#downContainer7{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/7-alt.png);
    margin-left: 3px;
}

#upContainer8{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/8-ust.png);
    margin-left: 532px;

}

#downContainer8{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/8-alt.png);
    margin-left: 3px;
}

#upContainer9{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/9-ust.png);
    margin-left: 532px;

}

#downContainer9{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/9-alt.png);
    margin-left: 3px;
}

#upContainer10{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/10-ust.png);
    margin-left: 532px;

}

#downContainer10{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/10-alt.png);
    margin-left: 3px;
}

#upContainer11{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/11-ust.png);
    margin-left: 532px;
}

#downContainer11{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/11-alt.png);
    margin-left: 3px;
}

#upContainer12{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/12-ust.png);
    margin-left: 532px;

}

#downContainer12{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/12-alt.png);
    margin-left: 3px;
}

#upContainer13{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/13-ust.png);
    margin-left: 532px;

}

#downContainer13{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/13-alt.png);
    margin-left: 3px;
}

#upContainer14{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/14-ust.png);
    margin-left: 532px;

}

#downContainer14{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/14-alt.png);
    margin-left: 3px;
}

#upContainer15{
    width: 423px;
    height: 65px;
    background-image: url(../img/levels/15-ust.png);
    margin-left: 532px;

}

#downContainer15{
    height: 423px;
    width: 65px;
    background-image: url(../img/levels/15-alt.png);
    margin-left: 3px;
}

#pieceContainer,#pieceContainer2,#pieceContainer3,#pieceContainer4,#pieceContainer5,#pieceContainer6,#pieceContainer7,
#pieceContainer8,#pieceContainer9,#pieceContainer10,#pieceContainer11,#pieceContainer12,#pieceContainer13,#pieceContainer14,
#pieceContainer15{
    width: 423px;
    height: 423px;
    border: 1px solid black;
    float: left;
    text-align: center;
    font-size: 30px;
    line-height: 400px;
    position: relative;
    margin-left: 40px;
}
#puzzleContainer,#puzzleContainer2,#puzzleContainer3,#puzzleContainer4,#puzzleContainer5,#puzzleContainer6,#puzzleContainer7,
#puzzleContainer8,#puzzleContainer9,#puzzleContainer10,#puzzleContainer11,#puzzleContainer12,#puzzleContainer13,#puzzleContainer14,
#puzzleContainer15{
    width: 423px;
    height: 423px;
    border: 1px solid black;
    float: right;
}

ul{
    list-style-type: none;
    text-align: center;
}

ul button{
    width: 100px;
    border: 1px solid black;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 500px;
}

#btnReset, #btnReset2, #btnReset3,#btnReset4,#btnReset5,#btnReset6,#btnReset7,#btnReset8,#btnReset9,#btnReset10,#btnReset11,#btnReset12,#btnReset13,#btnReset14,#btnReset15{
    display: none;  
}


.piece{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/1-orta.png);
    background-repeat: no-repeat;
}

.piece2{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/2-orta.png);
    background-repeat: no-repeat;
}

.piece3{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/3-orta.png);
    background-repeat: no-repeat;
}

.piece4{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/4-orta.png);
    background-repeat: no-repeat;
}

.piece5{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/5-orta.png);
    background-repeat: no-repeat;
}

.piece6{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/6-orta.png);
    background-repeat: no-repeat;
}

.piece7{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/7-orta.png);
    background-repeat: no-repeat;
}

.piece8{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/8-orta.png);
    background-repeat: no-repeat;
}
.piece9{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/9-orta.png);
    background-repeat: no-repeat;
}
.piece10{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/10-orta.png);
    background-repeat: no-repeat;
}
.piece11{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/11-orta.png);
    background-repeat: no-repeat;
}
.piece12{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/12-orta.png);
    background-repeat: no-repeat;
}
.piece13{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/13-orta.png);
    background-repeat: no-repeat;
}
.piece14{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/14-orta.png);
    background-repeat: no-repeat;
}
.piece15{
    width:60px;
    height: 60px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/levels/15-orta.png);
    background-repeat: no-repeat;
}
