<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head>
        <title>Oyun Zamanı :)</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../../resources/css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="../../resources/css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="../../resources/css/style.css" />
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    </head>
    <body style='background-color: wheat;'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">ChemPuzzle</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="../oyun/level1.xhtml">1</a>
                    <a class="nav-item nav-link" href="../oyun/level2.xhtml">2</a>
                    <a class="nav-item nav-link" href="../oyun/level3.xhtml">3</a>
                    <a class="nav-item nav-link" href="../oyun/level4.xhtml">4</a>
                    <a class="nav-item nav-link" href="../oyun/level5.xhtml">5</a>
                    <a class="nav-item nav-link" href="../oyun/level6.xhtml">6</a>
                    <a class="nav-item nav-link" href="../oyun/level7.xhtml">7</a>
                    <a class="nav-item nav-link" href="../oyun/level8.xhtml">8</a>
                    <a class="nav-item nav-link" href="../oyun/level9.xhtml">9</a>
                    <a class="nav-item nav-link" href="../oyun/level10.xhtml">10</a>
                    <a class="nav-item nav-link" href="../oyun/level11.xhtml">11</a>
                    <a class="nav-item nav-link" href="../oyun/level12.xhtml">12</a>
                    <a class="nav-item nav-link" href="../oyun/level13.xhtml">13</a>
                    <a class="nav-item nav-link" href="../oyun/level14.xhtml">14</a>
                    <a class="nav-item nav-link" href="../oyun/level15.xhtml">15</a>
                </div>
                <a class="nav-item nav-link" href="../login.xhtml">Giriş</a>
            </div>
        </nav>

        <ui:insert name="content">
        </ui:insert>

        <script src="../../resources/js/bootstrap/bootstrap.min.js"></script>
        <script src="../../resources/js/puzzle.js"></script>
    </body>
</html>
